@model ApplicationUser
<link rel="stylesheet" href="~/css/chgemail.css" />

<div class="main_prof col-12">
    <div class="area_prof col-10">
        <div class="used_area_prof col-12">
            <div class="upper_pref col-12">
                <h2 class="h_upper_pref col-12">Manage your account</h2>
                <h3 class="h_upper_pref col-12">Chane your account settings</h3>
                <div class="line_upper_pref col-12"></div>
            </div>
            <div class="left_prof">
                <a asp-action="Index" class="a_left">Profile</a>
                <a asp-action="ChEmail" class="a_left" style="color:white !important;background-color:blue">Email</a>
                <a asp-action="ChPassword" class="a_left">Password</a>
            </div>
            <div class="right_prof">
                <h4 class="col-12">Manage Email</h4>
                @if (TempData["Esuccess"] != null)
                {
                    <div class="success_msg col-12">
                        <p class="p_msg">@TempData["Esuccess"]</p>
                        <i class="fa-solid fa-xmark i_msg"></i>
                    </div>
                }
                <form asp-action="ChEmail" class="f_prof">
                    <div class="form-floating col-12">
                        <input type="hidden" asp-for="Email" value="@Model.Email" />
                        <input id="emails" type="email" class="form-control" placeholder="" value="@Model.Email" disabled />
                        <label for="emails">Email</label>
                    </div>

                    <div class="form-floating col-12">
                        <input id="new_email" type="email" class="form-control" placeholder="" name="NewEmail" />
                        <label for="new_email">New email</label>
                        <span asp-validation-for="Email" class="span_in mb-2"></span>
                    </div>
                    <button class="btn_prof col-12" type="submit">Change Email</button>
                </form>
            </div>
        </div>
    </div>
</div>
<style>
    .upper_pref {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: flex-start;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 0.5rem;
    }

    .h_upper_pref {
        margin: 0;
    }

    .line_upper_pref {
        height: 0.2vh;
        background-color: #00000045;
    }

</style>
@section Scripts {
    <partial name="_ValidationScriptsPartial.cshtml" />
    <script>
        const success_msg = document.querySelector(".success_msg");
        const i_msg = document.querySelector(".i_msg");
        i_msg.onclick=function(){
               success_msg.style.display="none";
           };
    </script>
}